body {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;

}

.sidebar {
    width: 42%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
}